#root {
  max-width: 1912px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}


:root{
  --lightColor: #92D6D6;
  --darkColor: #49BBBD;
  --logoColor: #00FFF0;
  --lightBlueColor: #23BDEE;
  --lightGreenColor: #33EFA0;
  
}


.darkColor{
  background-color: var(--darkColor)!important; 
}
.lightBlueColor{
  background-color: var(--lightBlueColor)!important; 
}
.lightBlueText{
  color: var(--lightBlueColor)!important; 
}
.lightGreenColor{
  background-color: var(--lightGreenColor)!important; 
}
.lightGreenText{
  color: var(--lightGreenColor)!important; 
}
.lightColor{
  background-color: var(--lightColor)!important; 
}
.lightText{
  color: var(--lightColor)!important; 
}
.darkText{
  color: var(--darkColor)!important; 
}
.textColor{
  color: var(--darkColor)!important;
}
.borderColor{
  border-color: var(--darkColor)!important;
}
.logoColor{
  border-color: var(--logoColor)!important;
}
.roundShape{
  width: 1912px;
  height: 90vh;
  clip-path: ellipse(100% 100% at 50% 00%);
}
.picture{
  background-image: url("https://s3-alpha-sig.figma.com/img/2f32/d3a9/082c2e2832481561feec93a5e5c5e8d6?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V~5GudI6wwG3b5qRroZsB-LnlkB64OXNTyH03C~Tu1e5avWXXvk92ptNfP~b7O89J-sMUXJPe9RBygIJe3XBdIXdxj7A6xWeLE1wSMNWm0OmKsLLHFGmJMk05GCUwKt5Ab-fN28u0xA1YnBSldnrvatrrpshoM6NYDtKsZPYSX~WpEF4PviLM0pJG2smuDG2zNxYpjI-DwP5QUY37e1d9zA9UcN-yHcIfHvpkj40GHYq-Jc2~zaDQpDXAhA-yjR0UCDlhPHNCdPpZsB6Am3EzzI28SP-50DL7WlpKe-ey1~ZICT8av1a4IMWm02m9SLR4R2SrM7Ytevif9~nERQZmg__");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  background-position: bottom;
}
